/* COLORS
_________*/

// Primary
$BLUE: hsl(246, 80%, 60%);
$LIGHT_RED: hsl(15, 100%, 70%);
$SOFT_BLUE: hsl(195, 74%, 62%);
$LIME_GREEN: hsl(145, 58%, 55%);
$VIOLET: hsl(264, 64%, 52%);
$SOFT_ORANGE: hsl(43, 84%, 65%);

// Neutral
$VERY_DARK_BLUE: hsl(226, 43%, 10%);
$DARK_BLUE: hsl(235, 46%, 20%);
$DESATURATED_BLUE: hsl(235, 45%, 61%);
$PALE_BLUE: hsl(236, 100%, 87%);

/* BREAKPOINTS
____________*/

$BREAKPOINTS: (
	phone: 320px,
	desktop: 1440px,
);
